<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include('../particals/head')  %>
    <link rel="stylesheet" href="/stylesheets/pages/lab.css">
    <title>Lab</title>
</head>
<body>
    <div class="wrapper">
        <aside id="sidenav-open">
            <nav>
                <h4>My</h4>
                <a href="#">Dashboard</a>
                <a href="#">Profile</a>
                <a href="#">Preferences</a>
                <a href="#">Archive</a>
            
                <h4>Settings</h4>
                <a href="#">Accessibility</a>
                <a href="#">Theme</a>
                <a href="#">Admin</a>
              </nav>
            
              <a href="#" id="sidenav-close" title="Close Menu" aria-label="Close Menu"></a>
        </aside>
        <main>
            <header>
                <a href="#sidenav-open" id="sidenav-button" class="hamburger" title="Open Menu" aria-label="Open Menu">
                    <svg viewBox="0 0 100 80" width="40" height="40">
                        <rect width="100" height="20"></rect>
                        <rect y="30" width="100" height="20"></rect>
                        <rect y="60" width="100" height="20"></rect>
                    </svg>
                </a>
                <h1>Site Title</h1>
              </header>
            
              <article>
                <h2>Totam Header</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum consectetur, necessitatibus velit officia ut impedit veritatis temporibus soluta? Totam odit cupiditate facilis nisi sunt hic necessitatibus voluptatem nihil doloribus! Enim.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit rerum, amet odio explicabo voluptas eos cum libero, ex esse quasi optio incidunt soluta eligendi labore error corrupti! Dolore, cupiditate porro.</p>
                
                <h3>Subhead Totam Odit</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit rerum, amet odio explicabo voluptas eos cum libero, ex esse quasi optio incidunt soluta eligendi labore error corrupti! Dolore, cupiditate porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit rerum, amet odio explicabo voluptas eos cum libero, ex esse quasi optio incidunt soluta eligendi labore error corrupti! Dolore, cupiditate porro.</p>
                
                <h3>Subhead</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit rerum, amet odio explicabo voluptas eos cum libero, ex esse quasi optio incidunt soluta eligendi labore error corrupti! Dolore, cupiditate porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit rerum, amet odio explicabo voluptas eos cum libero, ex esse quasi optio incidunt soluta eligendi labore error corrupti! Dolore, cupiditate porro.</p>
              </article>
        </main>
    </div>
</body>
</html>